{% extends "base.html" %}

{% block content %}
  <h2>Are you sure you want to delete dish type {{ manufacturer.name }}</h2>
  <p><i>All dishes that belong to this dish type will be deleted!</i></p>
  {% for dish in dishtype.dishes.all%}
    <ul>
      <li> {{ dish.name }} </li>
    </ul>
  {% endfor %}
  <br>
  <form action="" method="post">
    {% csrf_token %}
    <input type="submit" value="Delete" class="btn btn-danger">
    <a class="btn btn-secondary" href="{% url "kitchen:dish-type-list"%}">Cancel</a>
  </form>
{% endblock %}
